<table style="width: 1000px; margin: auto; background: rgb(238, 238, 238); border-collapse: collapse; font-family: fantasy;">
     
    <thead>
         
        <tr>
             
            <td>
                 
                <img src="" alt="">
                 
                <h1 style="text-align: center; background: rgb(204, 204, 204); color: rgb(255, 255, 255); margin: 0px; padding: 20px 0px; font-weight: 400; font-size: 46px;">
                    Header
                </h1>
                 
            </td>
             
        </tr>
         
    </thead>
     
    <tbody>
         
        <tr>
             
            <td style="padding: 20px 0px;">
                 
                <table style="width: 700px; margin: auto; background: rgb(255, 255, 255); border-spacing: 0px; border-collapse: collapse;">
                     
                    <tbody>
                        <tr>
                             
                            <td colspan="2" style="border-width: 5px 5px 15px; border-style: solid; border-color: rgb(238, 238, 238); border-image: initial; padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%); vertical-align: top; color: rgb(136, 136, 136); font-weight: 700; font-size: 14px;">
                                <h2 style="margin: 5px 0px; font-weight: 400; color: rgb(119, 119, 119); font-family: fantasy; font-size: 36px; font-style: normal;">
                                    Css
                                </h2>
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                h1 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                text-align: center;background: #ccc;color: #fff;margin: 0;padding: 20px 0;font-weight: 400;font-size: 46px;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                h2 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                margin: 5px 0;font-weight: 400;color: #777;font-family: fantasy;font-size: 36px;font-style: normal;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .main 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                width: 1000px;margin: auto;background: #eee;border-collapse: collapse;font-family: fantasy;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .main&gt;tbody&gt;tr&gt;td 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                padding: 20px 0;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .main&gt;tbody&gt;tr:last-child&gt;td 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                padding-top: 0;padding-bottom: 40px;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .main tfoot h1 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                background: #aaa;padding: 15px;font-size: 36px;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                width: 700px;margin: auto;background: #fff;border-spacing: 0;border-collapse: collapse;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style td 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                border: 5px solid #eee;padding: 15px 20px;font-family: sans-serif;line-height: 24px;background: #f7f7f7;vertical-align: top;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style tr:first-child td 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                background: #ffffff;background: -moz-linear-gradient(left, #ffffff 0%, #eee 100%);background: -webkit-linear-gradient(left, #ffffff 0%,#eee 100%);background: linear-gradient(to right, #ffffff 0%,#eee 100%);border-bottom: 15px solid #eee;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style td:first-child 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                color: #777;font-weight: 700;font-size: 14px;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style td:last-child 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                color: #888;font-size: 14px;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style.jquery td h2 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;"></td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style.jquery td 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                font-family: sans-serif;font-weight: 400;
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(119, 119, 119); font-weight: 700; font-size: 14px;">
                                .style.jquery td b 
                            </td>
                             
                            <td style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-size: 14px;">
                                color: #777;
                            </td>
                             
                        </tr>
                         
                    </tbody>
                </table>
                 
            </td>
             
        </tr>
        <tr>
             
        </tr>
         
        <tr>
            <td style="padding: 0px 0px 40px;">
                 
                <table style="width: 700px; margin: auto; background: rgb(255, 255, 255); border-spacing: 0px; border-collapse: collapse;">
                     
                    <tbody>
                        <tr>
                             
                            <td colspan="2" style="border-width: 5px 5px 15px; border-style: solid; border-color: rgb(238, 238, 238); border-image: initial; padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                <h2 style="margin: 5px 0px; font-weight: 400; color: rgb(119, 119, 119); font-family: fantasy; font-size: 36px; font-style: normal;">
                                    Js
                                </h2>
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('h1').css({
                                </b>
                                 'text-align':' center','background':' #ccc','color':' #fff','margin':' 0','padding':' 20px 0','font-weight':' 400','font-size':' 46px' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('h2').css({
                                </b>
                                 'margin':' 5px 0','font-weight':' 400','color':' #777','font-family':' fantasy','font-size':' 36px','font-style':' normal' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.main').css({
                                </b>
                                 'width':' 1000px','margin':' auto','background':' #eee','border-collapse':' collapse','font-family':' fantasy' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.main&gt;tbody&gt;tr&gt;td').css({
                                </b>
                                 'padding':' 20px 0' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.main&gt;tbody&gt;tr:last-child&gt;td').css({
                                </b>
                                 'padding-top':' 0','padding-bottom':' 40px' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.main tfoot h1').css({
                                </b>
                                 'background':' #aaa','padding':' 15px','font-size':' 36px' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style').css({
                                </b>
                                 'width':' 700px','margin':' auto','background':' #fff','border-spacing':' 0','border-collapse':' collapse' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style td').css({
                                </b>
                                 'border':' 5px solid #eee','padding':' 15px 20px','font-family':' sans-serif','line-height':' 24px','background':' #f7f7f7','vertical-align':' top' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style tr:first-child td').css({
                                </b>
                                 'background':' #ffffff','background':' -moz-linear-gradient(left, #ffffff 0%, #eee 100%)','background':' -webkit-linear-gradient(left, #ffffff 0%,#eee 100%)','background':' linear-gradient(to right, #ffffff 0%,#eee 100%)','border-bottom':' 15px solid #eee' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style td:first-child').css({
                                </b>
                                 'color':' #777','font-weight':' 700','font-size':' 14px' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style td:last-child').css({
                                </b>
                                 'color':' #888','font-size':' 14px' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style.jquery td h2').css({
                                </b>
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style.jquery td').css({
                                </b>
                                 'font-family':' sans-serif','font-weight':' 400' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                        <tr>
                             
                            <td colspan="2" style="border: 5px solid rgb(238, 238, 238); padding: 15px 20px; font-family: sans-serif; line-height: 24px; background: rgb(247, 247, 247); vertical-align: top; color: rgb(136, 136, 136); font-weight: 400; font-size: 14px;">
                                 
                                <b style="color: rgb(119, 119, 119);">
                                    $('.style.jquery td b').css({
                                </b>
                                 'color':' #777' 
                                <b style="color: rgb(119, 119, 119);">
                                    });
                                </b>
                                 
                            </td>
                             
                        </tr>
                         
                    </tbody>
                </table>
                 
            </td>
             
        </tr>
         
    </tbody>
     
    <tfoot>
         
        <tr>
             
            <td>
                 
                <h1 style="text-align: center; background: rgb(170, 170, 170); color: rgb(255, 255, 255); margin: 0px; padding: 15px; font-weight: 400; font-size: 36px;">
                    Footer
                </h1>
                 
            </td>
             
        </tr>
         
    </tfoot>
     
</table>