h1 {
	text-align: center;
	background: #ccc;
	color: #fff;
	margin: 0;
	padding: 20px 0;
	font-weight: 400;
	font-size: 46px;
}
h2 {
	margin: 5px 0;
	font-weight: 400;
	color: #777;
	font-family: fantasy;
	font-size: 36px;
	font-style: normal;
}
.main {
	width: 1000px;
	margin: auto;
	background: #eee;
	border-collapse: collapse;
	font-family: fantasy;
}
.main>tbody>tr>td {
	padding: 20px 0;
}
.main>tbody>tr:last-child>td {
	padding-top: 0;
	padding-bottom: 40px;
}
.main tfoot h1 {
	background: #aaa;
	padding: 15px;
	font-size: 36px;
}
.style {
	width: 700px;
	margin: auto;
	background: #fff;
	border-spacing: 0;
	border-collapse: collapse;
}
.style td {
	border: 5px solid #eee;
	padding: 15px 20px;
	font-family: sans-serif;
	line-height: 24px;
	background: #f7f7f7;
	vertical-align: top;

}
.style tr:first-child td {
	background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #eee 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#eee 100%);
    background: linear-gradient(to right, #ffffff 0%,#eee 100%);
	border-bottom: 15px solid #eee;
}
.style td:first-child {
	color: #777;
	font-weight: 700;
	font-size: 14px;
}
.style td:last-child {
	color: #888;
	font-size: 14px;
}
.style.jquery td h2 {
	
}
.style.jquery td {
	font-family: sans-serif;
	font-weight: 400;
}
.style.jquery td b {
	color: #777;
}